In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

In [8]:
pth=Path('data','violence_2016_clean.xls')
df=pd.read_excel(pth)
df=df.rename(columns={'Violent\ncrime1':'violent crime per 100k inhabitants'})
df.head()

,State,Area,Unnamed: 2,Population,violent crime per 100k inhabitants,Murder and \nnonnegligent \nmanslaughter,Rape\n(revised\ndefinition2),Rape\n(legacy\ndefinition3),Robbery,Aggravated \nassault,Property \ncrime,Burglary,Larceny-\ntheft,Motor \nvehicle \ntheft
0,ALABAMA,State Total,"Rate per 100,000 inhabitants",NaN,532.3,8.4,39.4,28.5,96.4,388.2,2947.8,700.5,2006.3,241.1
1,ALASKA,State Total,"Rate per 100,000 inhabitants",NaN,804.2,7.0,141.9,102.0,114.6,540.6,3353.0,546.3,2394.7,412.1
2,ARIZONA,State Total,"Rate per 100,000 inhabitants",NaN,470.1,5.5,47.5,35.4,101.8,315.4,2978.4,544.4,2168.1,265.8
3,ARKANSAS,State Total,"Rate per 100,000 inhabitants",NaN,550.9,7.2,71.7,51.7,70.9,401.0,3268.6,795.5,2233.6,239.4
4,CALIFORNIA,State Total,"Rate per 100,000 inhabitants",NaN,445.3,4.9,34.9,25.9,139.6,265.9,2553.0,479.8,1623.0,450.3

In [9]:
final_table_columns = ['State', 'violent crime per 100k inhabitants']
df = df.drop(columns=[col for col in df if col not in final_table_columns])

In [12]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               50 non-null     object
 1   violent crime per 100k inhabitants  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [13]:
df.to_csv('data/violence_2016_clean.csv',index=False)

In [14]:
df.describe()

       violent crime per 100k inhabitants
count                           50.000000
mean                           378.038000
std                            145.588265
min                            123.800000
25%                            254.475000
50%                            370.250000
75%                            456.700000
max                            804.200000